  <header>
    <nav>
      {{ $current := . }}
  <ul>{{ range .Site.Menus.main }}
    <li>
      {{ $active := or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) }}
      {{ $active = or $active (eq .Name $current.Title) }}
      {{ $active = or $active (and (eq .Name "Index") (eq $current.Section "posts")) }}
      {{ $active = or $active (and (eq .Name "Projects") (eq $current.Section "projects")) }}
      <a href="{{ .URL }}" {{ if $active }}aria-current="page"{{ end }}>{{ .Name }}</a>
    </li>
  {{ end }}
  </ul>
    </nav>

    <!-- Button Down Subscription -->
    <form action="https://buttondown.email/api/emails/embed-subscribe/asindu" method="post" target="popupwindow"
      onsubmit="window.open('https://buttondown.email/asindu', 'popupwindow')" class="embeddable-buttondown-form">

      <!-- <label for="bd-email" style=" color: #c84b31;" ><b>SUBSCRIBE</b></label> -->
      <input type="email" name="email" id="bd-email" style="height:30px; width:200px;" placeholder="steve.jobs@gmail.com" />

      <input type="submit" value="Subscribe" style="height:30px; width:100px;" />
    </form>

    <!-- Adsense Code -->
      <div id="adsense-unit">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7932960094058650"
            crossorigin="anonymous"></script>
        <!-- Horizontal Ad Unit -->
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-7932960094058650"
            data-ad-slot="7467586239"
            data-ad-format="auto"
            data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>
  </header>
  <hr>


