---
import Layout from "../components/Layout.astro";
import Heading from "../components/Heading.astro";
import Prose from "../components/Prose.astro";
---

<Layout title="Blog Roll — The Black Epicure" description="More About Me">
  <script slot="head" type="application/ld+json" set:html={JSON.stringify({
    "@context": "https://schema.org",
    "@type": "AboutPage",
    "name": "Blog Roll — The Black Epicure",
    "description": "List Of Blogs I Read",
    "url": new URL("/roll", Astro.site).href,
    "isPartOf": {
      "@type": "WebSite",
      "name": "The Black Epicure",
      "url": Astro.site?.href,
    },
  })} />
  <section class="about">
    <Heading as="h1">About</Heading>
    <Prose>
      <p>
       More about me ...
      </p>
    </Prose>
  </section>
</Layout>

<style>
  .about {
    max-width: var(--width-content);
  }
</style>
